html {
  scroll-behavior: smooth
}

.input_search {
  height: 99vh;
  min-height: 600px;
  background-image:  -webkit-gradient(
    linear, 
    left top, left bottom, 
    from(rgba(255, 255, 255, .8)), 
    to(rgba(0, 0, 0, .6))
  ),url('../images/background_search.jpg');
  background-image:  -webkit-linear-gradient(
    rgba(255, 255, 255, .8), 
    rgba(0, 0, 0, .6)
  ),url('../images/background_search.jpg');
  background-image:  -o-linear-gradient(
    rgba(255, 255, 255, .8), 
    rgba(0, 0, 0, .6)
  ),url('../images/background_search.jpg');
  background-image:  linear-gradient(
    rgba(255, 255, 255, .8), 
    rgba(0, 0, 0, .6)
  ),url('../images/background_search.jpg');
  background-size: cover;
  position: relative;
  /* margin-left: -10px; */
  margin-top: -10px;
  width: 100%;
  /* box-shadow: 20px 20px 69px #000; */
}

.input_search input, .input_search select {
  outline: none;
  border: 1px solid #ededed;
  height: 30px;
  width: 150px;
  border-radius: 3px;
}

.input_search select {
  margin-left: 15px;
  height: 35px;
}

.input_search > h2 {
  text-align: center;
  color: #fff;
  text-transform: capitalize;
  margin-top: 0;
  padding-top: 20px;
  text-shadow: 2px 2px 2px #000;
}

.input_search_submit  {
  border-radius: 50px;
  background: #2c2c2c;
  color: #fff;
  font-size: 20px;
  width: 100px !important;
  margin-left: 20px;
  border: none !important;
  height: 35px !important;
  cursor: pointer;
  margin-top: 0 !important;
}
.input_search_container {
  position: absolute;
  top: 30%;
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.input_search_submit:hover {
  color: #000;
  background: #ededed;
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-width: 1200px;
  margin: auto;
}

.results_container {
  max-width: 1200px;
  margin: auto;
}


.result_container {
  text-align: center;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 20px;
  border: 1px solid #b5cee6;
  -webkit-box-shadow: -2px -2px 15px #ddd;
          box-shadow: -2px -2px 15px #ddd;
  position: relative;
  height: 525px;
}

.media_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.result_container:hover > .result_overview  {
  -webkit-animation: slide_in .5s ease-in;
          animation: slide_in .5s ease-in;
  opacity: 1;
}

.result_overview {
  opacity: 0;
  position: absolute;
  background: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(#b5cee6));
  background: -webkit-linear-gradient(bottom, #ddd, #b5cee6);
  background: -o-linear-gradient(bottom, #ddd, #b5cee6);
  background: linear-gradient(to top, #ddd, #b5cee6);
  translate: all .4s ;
  height: 525px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  overflow-y: scroll;
}

.result_overview > p {
  width: 80%;
  margin: auto;
}


.result_release_date {
  font-size: 10px;
  color: #3d3d3d;
  text-transform: capitalize;

}

.actor_known_for {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 425px) {
  .input_search_submit {
    margin-top: 20px !important;
  }
}

@-webkit-keyframes slide_in {
  0%  {
    opacity: 0;
-webkit-transform: translateY(-30px) scaleX(-1);
        transform: translateY(-30px) scaleX(-1);;
 }
  50% {
    opacity: .5;
   -webkit-transform:  translateY(-15px) ;
           transform:  translateY(-15px) ;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scaleX(1);
            transform: translateY(0) scaleX(1);
  }
}

@keyframes slide_in {
  0%  {
    opacity: 0;
-webkit-transform: translateY(-30px) scaleX(-1);
        transform: translateY(-30px) scaleX(-1);;
 }
  50% {
    opacity: .5;
   -webkit-transform:  translateY(-15px) ;
           transform:  translateY(-15px) ;
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0) scaleX(1);
            transform: translateY(0) scaleX(1);
  }
}
